.card {
  border: 1px solid #0000ff;
  display: flex;

  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container {
  height: 100vh;
  display: grid;

  grid-template-columns: repeat(3, 230px);
  justify-content: center;
  border: 1px solid black;
}

img {
  min-width: 100%;
  min-height: 100%;
}

#kubrick,
#coppola,
#godard,
#kurosawa,
#scorsese,
#pta,
#speilberg {
  height: 50px;
}
